*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header{
  margin-top: 10vh;
  font-size: 20px;
}
.card{
  width: 300px;
  height: 200px;
  margin-top: 10vh;
  background-color: lightgreen;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.2);
}
.inputdk{
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 17px;
}
.inputsn{
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn{
  background-color: antiquewhite;
  margin-top: 1px;
  padding: 5px;
}